doctype html
html
  head

    link(rel="stylesheet" type="text/css" href="css/style.css")

    script(type='text/javascript', src='js/phaser.min.js')
    script(type='text/javascript', src='js/ajax.js')

    script(type='text/javascript', src='js/states/game.js')
    script(type='text/javascript', src='js/states/menu.js')
    script(type='text/javascript', src='js/states/instructions.js')

    script(type='text/javascript', src='js/classes/character.js')

    script(type='text/javascript', src='js/main.js')

  body

    #info.hid
      label.msg Dinos tu nombre de usuario
      label#error.error.hid Usuario No Valido
      input#username(type="text" autocomplete="off")
      button(onclick="App.validateUsername()") ENTRAR

    #gameContainer.hid
