doctype html
html
  head

    link(rel="stylesheet" type="text/css" href="css/style.css")

    script(type='text/javascript', src='js/phaser.min.js')
    script(type='text/javascript', src='js/ajax.js')

    script(type='text/javascript', src='js/states/game.js')
    script(type='text/javascript', src='js/states/menu.js')
    script(type='text/javascript', src='js/states/instructions.js')

    script(type='text/javascript', src='js/classes/character.js')

    script(type='text/javascript', src='js/main.js')

  body

    #info
      label.msg DISPLACE IT !
      label#error.error.hid 
      input#username(type="text" autocomplete="off" placeholder="Usuario")
      input#password(type="password" placeholder="Password")
      button(onclick="App.validate()") ENTRAR
      button(onclick="App.register()") REGISTRAR

    #gameContainer.hid
